@viewport{
  zoom: 1.0;
  width: device-width;
}

.empty{
  height: 80px;
}

body{
  /*background-color: papayawhip;*/
  color:white;
}

.btn{
  border-radius: 5px;
  box-shadow: 3px 3px 1px black;
}

input{
  text-align: center;
}

#logo{
  padding-left: .1em;
}

.events {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.event {
  background-color: white;
  margin: 5px;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: .1rem;
  border: 2px solid #311b92;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 5px 5px 3px black;
}

.search[type=text] {
  font-size: 20px;
  width: 300px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
  margin: auto;
  text-align: center;
}

.search[type=text]:focus {
    width: 40%;
}

#home {
  /*background: url('https://i.imgur.com/0YCVhf1.jpg');*/
  background: url('http://i.imgur.com/WOEQOmG.jpg');
  background-size: cover;
}

footer{
  background-color: #311b92;
  color: #fcfce8;
	text-align: center;
  padding: 1em;
  font-size: 16px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5rem;
}

nav{
  box-shadow: 2px 2px 1px black;
  height: 80px;
  padding-top: .5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.trans-background{
  border: 1px solid black;
  background-color: black;
  opacity: 0.6;
  width: 400px;
  border-radius: 15px;
  padding-bottom: .5em;
}

.form-trans{
  border: 1px solid black;
  background-color: black;
  opacity: 0.6;
  /*width: 800px;*/
  border-radius: 20px;
  padding: .5em;
}
