@viewport{
  zoom: 1.0;
  width: device-width;
}

.empty{
  height: 80px;
}

body{
  background-color: papayawhip;
}

.btn{
  border-radius: 5px;
}

input{
  text-align: center;
}

#logo{
  padding-left: .3em;
}

.events {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.event {
  margin: 5px;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: .1rem;
  border: 2px solid #1f3461;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 5px 5px 3px #888888;
}

.search[type=text] {
  font-size: 12px;
  width: 300px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
  margin: auto;
  text-align: center;
}

.search[type=text]:focus {
    width: 40%;
}
