<h1>Login Page</h1>
<h2>User Login</h2>
<form class="" ng-submit="main.login(user)">
  <div>
    <label for="username">Username</label>
    <input type="text" class="validate" ng-model="user.username">
    <br>
    <label for="password">Password</label>
    <input type="password" class="validate" ng-model="user.password">
    <br>
    <button type="submit" name="action">Login</button>
  </div>
</form>
<h2>User Registration</h2>
<div ng-hide='main.success'>
  <form class="" ng-submit="main.signup(createUser)">
    <label for="email">Email</label>
    <input type="email" class="validate" ng-model="createUser.email">
    <br>
    <label for="username">Username</label>
    <input type="text" class="validate" ng-model="createUser.username">
    <br>
    <label for="password">Password</label>
    <input type="password" class="validate" ng-model="createUser.password">
    <br>
    <button type="submit" name="action">Register</button>
  </form>
</div>
