<section>

  <div class="container center">
    <h3>My Events</h3>
    <input class="search" type="text" name="search" placeholder="Search" ng-model="searchBox">
  </div> <br><br>

  <div class="container center" ng-hide="main.isEditing" ng-show="main.isCreating">
    <button class="#311b92 deep-purple darken-4 btn" ui-sref="new" ng-click="main.startCreating()">CREATE EVENT</button>
  </div>
<br>

<div class="container center events">
  <div class="event" ng-repeat="event in main.events | filter: searchBox">
    Artist: {{event.artist}}<br>
    Event Date: {{event.date}}<br>
    Ticket Price: ${{event.price}}<br>
    Location: {{event.location}}<br>
    Event URL:  <a href="http://{{event.url}}" target="_blank"> {{event.url}}</a><br><br>
    <button class="#311b92 deep-purple darken-4 btn" ng-click="main.addToMyRsvps(event.id)">RSVP</button>
    <button class="#311b92 deep-purple darken-4 btn" ng-click="main.setEventToEdit(event); main.startEditing()">EDIT</button>
    <button class="#311b92 deep-purple darken-4 btn" ng-click="main.deleteEvent(event.id)">DELETE</button>
  </div>
</div>



<div class="container center">
  <div class="nav" ng-hide="main.isEditing" ng-show="main.isCreating">
    <br>
      <!-- This button is the same as above -->
      <!-- <button class="#311b92 deep-purple darken-4 btn" ui-sref="new" ng-click="main.startCreating()">CREATE EVENT</button> -->
  </div>

  <div class="form" ng-show="main.isEditing">
    <form ng-submit="main.editEvent(main.editedEvent)">
      <div>
        <label for="artist">Artist</label>
        <input type="text" ng-model="main.editedEvent.artist">
      </div>
      <div>
        <label for="date">Date</label>
        <input type="text" ng-model="main.editedEvent.date">
      </div>
      <div>
        <label for="price">Price</label>
        <input type="text" ng-model="main.editedEvent.price">
      </div>
      <div>
        <label for="location">Location</label>
        <input type="text" ng-model="main.editedEvent.location">
      </div>
      <div>
        <label for="url">Url</label>
        <input type="text" ng-model="main.editedEvent.url">
      </div>
      <br>
      <button class="#311b92 deep-purple darken-4 btn" type="submit">UPDATE</button>
    </form>
  </div>

<!-- end of container   -->
</div>

</section>



<!-- <div class="container center">
  <div class="nav" ng-hide="main.isEditing" ng-show="main.isCreating">
    <br>
      <button class="#311b92 deep-purple darken-4 btn" ui-sref="new" ng-click="main.startCreating()">CREATE EVENT</button>
  </div>

  <div class="form" ng-show="main.isEditing">
    <form action="#" ng-submit="main.editEvent(main.updatedEvent, main.event.id)">
      <div>
        <label for="artist">Artist</label>
        <input type="text" ng-model="main.updatedEvent.artist">
      </div>
      <div>
        <label for="date">Date</label>
        <input type="text" ng-model="main.updatedEvent.date">
      </div>
      <div>
        <label for="price">Price</label>
        <input type="text" ng-model="main.updatedEvent.price">
      </div>
      <div>
        <label for="location">Location</label>
        <input type="text" ng-model="main.updatedEvent.location">
      </div>
      <div>
        <label for="url">Url</label>
        <input type="text" ng-model="main.updatedEvent.url">
      </div>
      <br>
      <button class="#311b92 deep-purple darken-4 btn" type="submit">UPDATE</button>
    </form>
  </div>
</div> -->
