<div class="empty"></div>
<div class="empty"></div>


<div class="container center">
  <h2>Welcome Back</h2>
  <button class="#311b92 deep-purple darken-4 btn" ui-sref="login">login </button>
</div>
<div class="empty"></div>
<div class="container center">
  <div class="trans-background container center">
    <h3>Not a Member?</h3>
    <h5>Join our Music Community</h5>
  </div>
  <br>
  <button class="#311b92 deep-purple darken-4 btn" ui-sref="signup">SIGNUP </button>
</div>
<div class="empty"></div>
