<div class="empty"></div>
<div class="empty"></div>
<div class="container center">
  <h2>User Login</h2>
  <form class="col s6" ng-submit="main.login(user)">
    <div>
      <label for="username">Username</label>
      <input type="text" class="validate" ng-model="user.username">
      <br>
      <label for="password">Password</label>
      <input type="password" class="validate" ng-model="user.password">
      <br>
      <button class="#311b92 deep-purple darken-4 btn" type="submit" name="action">Login</button>
    </div>
  </form>
</div>

<br>

<div class="empty"></div>
