<div class="empty"></div>
<div class="container center">
  <h2>Welcome {{main.user.username}}</h2>
    <form ng-click="main.logout(user)">
        <button class="#311b92 deep-purple darken-4 btn" type="submit">Logout</button>
    </form>
  <br>
    <button class="#311b92 deep-purple darken-4 btn" ui-sref='events'>BROWSE EVENTS</button>
</div>

<br>

<!-- <div class="container center">
  <div class="nav" ng-show="main.isCreating">
    <br>
    <button class="#311b92 deep-purple darken-4 btn" ui-sref="new" ng-click="main.startCreating()">Add New Event</button>
  </div>
</div> -->
